<div id="iframe-container" class="container-fluid bg-1 text-center">
  <iframe id="playlist" src="https://embed.spotify.com/?uri=<%= @uri %>" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
</div>
